/**
.github/
.vscode/
assets/
broadcast/
cache/
coverage/
lib/
!out/**SPOG**/*
!out/**List**/*
!out/**Protocol**/*
!out/**ValueToken**/*
!out/**VoteToken**/*
!out/**Vault**/*
out/**.t.sol/
script/
src/
test/
